%h4 WebHosting Home

.table-wrapper
  %table.table.table-striped
    %caption IPv4 Addresses
    - unless @ipv4addresses.nil? || @ipv4addresses.empty?
      %thead
        %tr
          - @ipv4addresses[0].keys.each do |key|
            %th= key
      %tbody
        - @ipv4addresses.each do |addr|
          %tr
          - addr.keys.each do |key|
            %td= addr[key]

.table-wrapper
  %table.table.table-striped
    %caption IPv6 Addresses
    - unless @ipv6addresses.nil? || @ipv6addresses.empty?
      %thead
        %tr
          - @ipv6addresses[0].keys.each do |key|
            %th= key
      %tbody
        - @ipv6addresses.each do |addr|
          %tr
          - addr.keys.each do |key|
            %td= addr[key]

.table-wrapper
  %table.table.table-striped
    %caption PHP Runtimes
    - unless @phpruntimes.nil? || @phpruntimes.empty?
      %thead
        %tr
          - @phpruntimes[0].keys.each do |key|
            %th= key
      %tbody
        - @phpruntimes.each do |phprt|
          %tr
          - phprt.keys.each do |key|
            %td= phprt[key]
